<!DOCTYPE html>

<html>
<head>
  <title>Content Posting Site</title>
</head>
<body>

  <h1>Welcome to the Daily Planet</h1>
    <h3>Create a New Blog Post</h3>

  <form method="post" action="/blogs">
    <p>
      <textarea name="post[content]" rows="10" cols="30"> Start blogging... </textarea>
    </p>
    </p>
      <input type="text" name="post[author]" placeholder="Author Name" >
    </p>
    <p> 
      <input type="submit">
    </p> 
  </form>

</body>
</html>